gui/tempCodeRunnerFile.py
gui/__pycache__/VzeGui.cpython-38.pyc
.vscode/settings.json
__pycache__/VzeApp.cpython-38.pyc
gui/__pycache__/styles.cpython-38.pyc
tempCodeRunnerFile.py
ki/input/yolo/yolov3_ts.weights
__pycache__/GuiInterface.cpython-38.pyc
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
gui/__pycache__/image_ressources.cpython-38.pyc
gui/__pycache__/VzeGui.cpython-37.pyc
gui/__pycache__/styles.cpython-37.pyc
gui/__pycache__/image_ressources.cpython-37.pyc
__pycache__/VzeApp.cpython-37.pyc


.vscode/launch.json
__pycache__/preprocessor.cpython-37.pyc
gui/pics/DemoVideos/DemoVideo_gutesWetter.mp4
gui/pics/DemoVideos/DemoVideo_schlechtesWetter.mp4
gui/pics/Remove/testVideo2.py
gui/pics/Remove/testVideo.py
ki/__pycache__/VzeKI.cpython-37.pyc
ki/input/yolo/yolov3_ts.weights
__pycache__/constants.cpython-37.pyc
.gitignore
