gui/tempCodeRunnerFile.py
gui/__pycache__/VzeGui.cpython-38.pyc
.vscode/settings.json
__pycache__/VzeApp.cpython-38.pyc
gui/__pycache__/styles.cpython-38.pyc
tempCodeRunnerFile.py
ki/input/yolo/yolov3_ts.weights
__pycache__/GuiInterface.cpython-38.pyc
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
gui/__pycache__/image_ressources.cpython-38.pyc
gui/__pycache__/VzeGui.cpython-37.pyc
gui/__pycache__/styles.cpython-37.pyc
gui/__pycache__/image_ressources.cpython-37.pyc
__pycache__/VzeApp.cpython-37.pyc


.vscode/launch.json
__pycache__/preprocessor.cpython-37.pyc
gui/pics/DemoVideos/DemoVideo_gutesWetter.mp4
gui/pics/DemoVideos/DemoVideo_schlechtesWetter.mp4
gui/pics/Remove/testVideo2.py
gui/pics/Remove/testVideo.py
ki/__pycache__/VzeKI.cpython-37.pyc
ki/input/yolo/yolov3_ts.weights
__pycache__/constants.cpython-37.pyc
.gitignore
__pycache__/
ki/__pycache__/
__pycache__/*
ki/__pycache__/*
main.spec
main.exe
build/main/xref-main.html
build/main/warn-main.txt
build/main/Tree-02.toc
build/main/Tree-01.toc
build/main/Tree-00.toc
build/main/PYZ-00.toc
build/main/PYZ-00.pyz
build/main/PKG-00.toc
build/main/PKG-00.pkg
build/main/main.exe.manifest
build/main/EXE-00.toc
build/main/base_library.zip
build/main/Analysis-00.toc
